{% extends 'base.html' %}

{% block title %}Disable user{% endblock %}

{% block content %}
    <h3>Disable user</h3>
    <form method="POST">
        <label for="username">Username (first.last)</label>
        {% if g.isSearch %}
            <input name="username" id="username" required>
        {% else %}
            <input name="username" id="username">
        {% endif %}
        <input type="submit" value="Check" class="button" name="btn">
    

        {% if g.user %}
            <div class="result">
                <h4>User to disable: {{ g.user.getFullName() }}</h4>
                <table class="resultsTable">
                    <tr>
                        <td>G Suite</td>
                        <td>{{ g.user.gMainEmail }}</td>
                    </tr>
                    <tr>
                        <td>Active Directory</td>
                        <td>{{ g.user.adDn }}</td>
                    </tr>
                </table>
            </div>
            <input type="checkbox" name="dataTransfer" value="yes">Transfer G Suite data to another user:
            <input type="text" name="destinationUser" id="destinationUser" placeholder="first.last"><br>
            <input type="submit" value="Disable" class="buttonRed" name="btn">
        {% endif %}
    </form>    
    
{% endblock %}