{% extends 'base.html' %}

{% block title %}Search user{% endblock %}

{% block content %}
    <h3>User search</h3>
    <form method="POST">
        <label for="username">Username (first.last)</label>
        <input name="username" id="username" required>
        <input type="submit" value="Search" class="button">
    </form>

    {% if g.user.gExists %}
        <div class="result">
            <h4>G Suite data:</h4>
            <table class="resultsTable">
                <tr>
                    <td>Name</td>
                    <td>{{ g.user.getFullName() }}</td>
                </tr>
                <tr>
                    <td>Admin</td>
                    <td>{{ g.user.gAdmin }}</td>
                </tr>
                <tr>
                    <td>OU</td>
                    <td>{{ g.user.gOu }}</td>
                </tr>                    
            </table>
            <br>Email addresses 
            <table class="resultsTable">
                {% for item in g.user.gEmailAliases %}
                    <tr>
                        <td>{{ item }}</td>
                    </tr>
                {% endfor %}                    
            </table>
        </div>
    {% endif %}

    {% if g.user.adExists %}
        <div class="result">
            <h4>Active Directory data:</h4>
            <table class="resultsTable">
                <tr>
                    <td>DN</td>
                    <td>{{ g.user.adDn }}</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>{{ g.user.adAccountStatus }}</td>
                </tr>
                <tr>
                    <td>Wrong password attempts</td>
                    <td>{{ g.user.adWrongPasswordAttempts }}</td>
                </tr>
            </table>
            <br>Groups:
            <table class="resultsTable">
                {% for item in g.user.adGroups %}
                <tr>
                    <td>{{ item }}</td>
                </tr>
                {% endfor %}
            </table>           
        </div>
    {% endif %}
    
{% endblock %}