{% extends 'base.html' %}

{% block title %}Search user{% endblock %}

{% block content %}
    <h3>User search</h3>
    <form method="POST">
        <label for="username">Username (first.last)</label>
        <input name="username" id="username" required>
        <input type="submit" value="Search">
    </form>
    <hr>
    <h3>Results</h3>
    {% if g.google is not none %}
        <h4>G Suite data:</h4>
        {% if g.google == 1 %}
            User not found on G Suite
        {% else %}
            Name: {{ g.google['name']['fullName'] }}<br>
            Admin: {{ g.google['isAdmin'] }}<br>
            ID: {{ g.google['customerId'] }}<br>
            OU: {{ g.google['orgUnitPath'] }}<br>
            Aliases: 
            <ul>
                {% for item in g.google['aliases'] %}
                        <li>{{ item }}</li>
                    {% endfor %}
                    {% for item in g.google['nonEditableAliases'] %}
                        <li>{{ item }}</li>
                    {% endfor %}            
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}